.title {
    text-transform: capitalize;
}
.abilities {
    padding: 0;
    margin: 0;
    list-style-position: inside;
}
.content {
    text-align: center;
}

.chip {
    margin-right: 10px;
    text-transform: capitalize;
}
