.header {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
}

.logo {
    margin-right: 20px;
}

.right {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
}
